<div class="p-6 max-w-5xl mx-auto">

    <h1 class="text-2xl font-semibold text-[var(--text-primary)] mb-6">
        Perfil del negocio
    </h1>

    <!-- class="bg-zinc-900 rounded-2xl p-6 shadow-lg border border-zinc-800" -->
    <div class="bg-[var(--bg-surface)] 
border border-[var(--border-soft)] 
shadow-[var(--shadow-soft)]
rounded-2xl p-6">

        @if (loading) {
        <div class="space-y-4 animate-pulse">
            <div class="h-6 w-1/3 bg-[var(--bg-surface-soft)] rounded"></div>

            <div class="bg-[var(--bg-surface)] p-6 rounded-2xl space-y-4 border border-[var(--border-soft)]">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="h-10 bg-[var(--bg-surface-soft)] rounded-xl"></div>
                    <div class="h-10 bg-[var(--bg-surface-soft)] rounded-xl"></div>
                    <div class="h-10 bg-[var(--bg-surface-soft)] rounded-xl"></div>
                    <div class="h-10 bg-[var(--bg-surface-soft)] rounded-xl"></div>
                </div>
            </div>
        </div>
        }

        @if (!loading) {
        <form [formGroup]="form" (ngSubmit)="save()" class="space-y-6">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <div>
                    <label class="text-sm text-[var(--text-secondary)]">Nombre comercial *</label>
                    <input type="text" formControlName="name" class="input-primary">
                    @if (getError('name')) {
                    <small class="text-red-400 text-xs mt-1 block">
                        {{ getError('name') }}
                    </small>
                    }
                </div>

                <div>
                    <label class="text-sm text-[var(--text-secondary)]">Email</label>
                    <input type="email" formControlName="email" class="input-primary">
                    @if (getError('email')) {
                    <small class="text-red-400 text-xs mt-1 block">
                        {{ getError('email') }}
                    </small>
                    }
                </div>

                <div>
                    <label class="text-sm text-[var(--text-secondary)]">Teléfono</label>
                    <!--<input type="text" formControlName="phone" class="input-primary">
                    @if (getError('phone')) {
                    <small class="text-red-400 text-xs mt-1 block">
                        {{ getError('phone') }}
                    </small>
                }-->
                    <!-- [searchCountryField]="['name', 'dialCode', 'iso2']" -->
                    <ngx-intl-tel-input [cssClass]="'input-primary'"
                        [preferredCountries]="[CountryISO.Mexico, CountryISO.UnitedStates]"
                        [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
                        [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Mexico" [phoneValidation]="true"
                        formControlName="phone">
                    </ngx-intl-tel-input>
                    @if (getError('phone')) {
                    <small class="text-red-400 text-xs mt-1 block">
                        {{ getError('phone') }}
                    </small>
                    }

                </div>

                <div>
                    <label class="text-sm text-[var(--text-secondary)]">Sitio web</label>
                    <input type="text" formControlName="website" class="input-primary">
                    @if (getError('website')) {
                    <small class="text-red-400 text-xs mt-1 block">
                        {{ getError('website') }}
                    </small>
                    }
                </div>

            </div>

            <hr class="border-zinc-800">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <div>
                    <label class="text-sm text-[var(--text-secondary)]">País</label>
                    <!--<input type="text" formControlName="country" class="input-primary">
                    @if (getError('country')) {
                    <small class="text-red-400 text-xs mt-1 block">
                        {{ getError('country') }}
                    </small>
                }-->

                    <select formControlName="country" class="input-primary">
                        <option *ngFor="let c of countries" [value]="c.code">
                            {{ c.name }}
                        </option>
                    </select>
                </div>

                <div>
                    <label class="text-sm text-[var(--text-secondary)]">Estado</label>
                    <input type="text" formControlName="state" class="input-primary">
                    @if (getError('state')) {
                    <small class="text-red-400 text-xs mt-1 block">
                        {{ getError('state') }}
                    </small>
                    }
                </div>

                <div>
                    <label class="text-sm text-[var(--text-secondary)]">Ciudad</label>
                    <input type="text" formControlName="city" class="input-primary">
                    @if (getError('city')) {
                    <small class="text-red-400 text-xs mt-1 block">
                        {{ getError('city') }}
                    </small>
                    }
                </div>

                <div>
                    <label class="text-sm text-[var(--text-secondary)]">Código postal</label>
                    <input type="text" formControlName="zip_code" class="input-primary">
                    @if (getError('zip_code')) {
                    <small class="text-red-400 text-xs mt-1 block">
                        {{ getError('zip_code') }}
                    </small>
                    }
                </div>

                <div class="md:col-span-2">
                    <label class="text-sm text-[var(--text-secondary)]">Dirección</label>
                    <input type="text" formControlName="address" class="input-primary">
                    @if (getError('address')) {
                    <small class="text-red-400 text-xs mt-1 block">
                        {{ getError('address') }}
                    </small>
                    }
                </div>

            </div>

            <div class="flex justify-end">
                <button type="submit" [disabled]="saving" class="bg-[var(--brand-primary)] 
       hover:bg-[var(--brand-primary-dark)] 
       text-[var(--text-primary)]
       transition px-6 py-2 rounded-xl font-medium cursor-pointer">
                    {{ saving ? 'Guardando...' : 'Guardar cambios' }}
                </button>
            </div>

        </form>
        }

    </div>
</div>