/* Password Eye-icon */
.password-container {
  position: relative;
  display: flex;
  align-items: center;  
}
 .password-container input {
  padding-right: 30px; 
} 
 .toggle-icon {
  position: absolute;
  right: 10px; 
  cursor: pointer;
  height: 20px; 
  width: 20px;
  color: aqua !important;
} 

/* Text for errors and Inputs */
.text-danger {
  color: red;
  margin-top: 0px;
}

input[aria-required="true"],
select[aria-required="true"],
textarea[aria-required="true"] {
  /* border-color: red !important; */
  border: 1px solid red !important;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed !important;
}