
.text-danger {
  color: red;
  margin-top: 0px;
}

input[aria-required="true"],
select[aria-required="true"],
textarea[aria-required="true"] {
  /* border-color: red !important; */
  border: 1px solid red !important;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed !important;
}