<div class="overlay" (click)="confirmDialog.close()"></div>

<div class="dialog">

  <h3>{{ confirmDialog.title() }}</h3>

  <p style="white-space: pre-line;">
    {{ confirmDialog.message() }}
  </p>

  <div class="actions">

    <!-- Cancelar -->
    <button class="mar-btn-secondary action-btn" (click)="confirmDialog.close()">

      {{ confirmDialog.btnCancelText() }}

    </button>

    <!-- Tercer botón opcional -->
    @if (confirmDialog.showThirdButton()) {

    <button class="third-btn action-btn" (click)="confirmDialog.third()">

      {{ confirmDialog.btnThirdText() }}

    </button>

    }

    <!-- Confirmar -->
    <button class="mar-btn-primary action-btn" (click)="confirmDialog.confirm()">

      {{ confirmDialog.btnConfirmText() }}

    </button>

  </div>

</div>