<div class="animate-in fade-in slide-in-from-left-4 duration-500">
    <header class="mb-8">
        <h2 class="text-3xl font-bold text-white mb-2">Crea tu cuenta</h2>
        <p class="text-gray-400">Crea tu cuenta y empieza a agendar citas hoy</p>
    </header>

    <div class="bg-white/[0.02] border border-white/10 rounded-2xl p-6 md:p-8 backdrop-blur-xl shadow-inner">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit($event)" class="space-y-4">
            <!-- Name -->
            <div class="w-full">
                <label class="block text-sm font-medium text-gray-300 mb-2">Nombre(s)</label>
                <!--clase antigua class="w-full bg-black/40 border border-white/10 rounded-lg py-3 px-4 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[#10b981]/50 focus:border-[#10b981] transition-all hover:border-white/20" -->
                <input #firstInput formControlName="first_name" name="first_name" id="first_name" type="text" class="w-full bg-white/5 border border-white/10 rounded-lg py-3 px-4 text-white placeholder-gray-500 
focus:outline-none focus:ring-2 focus:ring-[#10b981]/40 focus:border-[#10b981] 
transition-all backdrop-blur-md hover:border-white/20 valid:border-emerald-400/70"
                    [attr.aria-required]="first_name?.invalid && (first_name?.dirty || first_name?.touched)"
                    placeholder="Ej: Margarita" required />

                @if(first_name?.invalid && (first_name?.dirty || first_name?.touched)){
                <div>
                    @if (first_name?.hasError('required')) {
                    <small class="text-danger ">El nombre es obligatorio.</small>
                    }
                    @if (first_name?.hasError('pattern')){
                    <small class="text-danger">No se permiten caracteres especiales.</small>
                    }
                    @if (first_name?.hasError('minlength') && !first_name?.hasError('pattern')) {
                    <small class="text-danger">El nombre debe tener al menos 3 caracteres.</small>
                    }
                    @if (first_name?.hasError('maxlength')) {
                    <small class="text-danger">El nombre no debe tener más de 100 caracteres.</small>
                    }
                </div>
                }
            </div>


            <!-- E-mail -->
            <div class="w-full">
                <label class="block text-sm font-medium text-gray-300 mb-2">Correo Electrónico</label>
                <input formControlName="email" name="email" id="email" type="email" class="w-full bg-white/5 border border-white/10 rounded-lg py-3 px-4 text-white placeholder-gray-500 
focus:outline-none focus:ring-2 focus:ring-[#10b981]/40 focus:border-[#10b981] 
transition-all backdrop-blur-md hover:border-white/20 valid:border-emerald-400/70"
                    [attr.aria-required]="email?.invalid && (email?.dirty || email?.touched)"
                    placeholder="correo@ejemplo.com" required autocomplete="email" />

                @if(email?.invalid && (email?.dirty || email?.touched)){
                <div>
                    @if (email?.hasError('required')) {
                    <small class="text-danger">El correo electrónico es obligatorio.</small>
                    }
                    @if (email?.hasError('email') || email?.hasError('pattern')) {
                    <small class="text-danger">Proporcione una dirección de correo electrónico válida.</small>
                    }
                </div>
                }
            </div>

            <!-- Password -->
            <div>
                <div class="flex items-center justify-between mb-2">
                    <label class="text-sm font-medium text-gray-300">Contraseña</label>
                </div>
                <div class="w-full password-container">
                    <input formControlName="password" name="password" id="password"
                        type="{{showPassword ? 'text' : 'password'}}" maxlength="15" class="w-full bg-white/5 border border-white/10 rounded-lg py-3 px-4 text-white placeholder-gray-500 
focus:outline-none focus:ring-2 focus:ring-[#10b981]/40 focus:border-[#10b981] 
transition-all backdrop-blur-md hover:border-white/20 valid:border-emerald-400/70"
                        [attr.aria-required]="password?.invalid && (password?.dirty || password?.touched)"
                        placeholder="••••••••" required autocomplete="new-password" />
                    <lucide-angular [name]="showPassword ? EyeOff : Eye" class="toggle-icon"
                        (click)="togglePasswordVisibility()"></lucide-angular>
                </div>
                @if(password?.invalid && (password?.dirty || password?.touched)){
                <div>
                    @if (password?.hasError('required')) {
                    <small class="text-danger">La contraseña es obligatoria.</small>
                    }
                    @if (password?.hasError('pattern')) {
                    <small class="text-danger">La contraseña debe tener al menos 8 caracteres, máximo 15 caracteres y
                        una
                        combinación de letras, números y símbolos (como @ $ # %).</small>
                    }
                </div>

                }

                <p class="text-xs text-gray-500 mt-1">
                    Usa 8–15 caracteres con letras, números y símbolos.
                </p>
            </div>

            <!-- Terms and Conditions -->
            <div class="w-full">
                <label for="agree-to-policies" class="text-[12px] text-gray-600">
                    Al hacer clic en Registrarte, aceptas las
                    <a href="https://www.marcorp.mx/diamar/terminos-y-condiciones" target="_blank"
                        class="font-semibold whitespace-nowrap text-indigo-600">Condiciones</a>
                    y la
                    <a href="https://www.marcorp.mx/diamar/aviso-de-privacidad" target="_blank"
                        class="font-semibold whitespace-nowrap text-indigo-600">Política de privacidad</a>.
                    <!-- Es posible que te enviemos notificaciones por SMS, que podrás desactivar cuando quieras. -->
                </label>
            </div>


            <!-- Register Button -->
            <div class="pt-2">
                <button type="submit" [disabled]="isSubmitting" style="cursor: pointer;" class="w-full bg-[#10b981] hover:bg-[#0da271] text-black font-bold py-3.5 px-6 rounded-lg 
transition-all duration-300 transform hover:scale-[1.02] active:scale-[0.98] 
flex items-center justify-center disabled:opacity-70 disabled:cursor-not-allowed 
shadow-[0_8px_30px_rgba(16,185,129,0.35)] hover:shadow-[0_10px_40px_rgba(16,185,129,0.5)]">
                    {{ isSubmitting ? 'Creando cuenta...' : 'Crear cuenta' }}
                </button>
                <p class="text-[11px] text-gray-500 text-center mt-2">
                    Sin tarjeta de crédito
                </p>
            </div>
        </form>
    </div>

    <footer class="mt-8 text-center text-sm">
        <p class="text-gray-400">
            ¿Ya tienes una cuenta?
            <button type="button" (click)="nav.goToLogin()" style="cursor: pointer;"
                class="text-[#10b981] font-semibold hover:underline transition-all">
                Inicia sesión
            </button>
        </p>
    </footer>
</div>