.system-layout {
  display: flex;
  min-height: 100vh;
  background: var(--marcorp-bg-dark);

  --topbar-height: 64px;
} 

/* ======================
   SIDEBAR
====================== */
app-sidebar {
  width: 260px;
  flex-shrink: 0;
}

/* ======================
   MAIN
====================== */
.system-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* evita doble scroll */

  min-width: 0;
}

/* ======================
   TOPBAR (FIJO)
====================== */
app-topbar {
  position: sticky;
  top: 0;
  z-index: 50;
  /* background: var(--surface); */
}

/* ======================
   CONTENT (SCROLL)
====================== */
.system-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}


/* Moviles */
@media (max-width: 768px) {
  .system-main {
    margin-left: 0;
  }

  .system-layout {
    position: relative;
  }

  /* Sidebar NO ocupa espacio */
  app-sidebar {
    position: fixed;
    top: 0;
    left: 0;

    transition: transform 0.3s ease;
    z-index: 1000;
    /*
    height: 100vh;
    width: 260px;
    transform: translateX(-100%);
 */
  }

  /* Sidebar visible */
  app-sidebar.open {
    transform: translateX(0);
  }

  /* El contenido usa TODO el ancho */
  .system-main {
    width: 100%;
  }
}