@import 'tailwindcss';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f5f1f1;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: rgb(16, 185, 129);
    border-radius: 4px;
}

/*.snackbar-success {
  --mat-sys-inverse-surface: #2e7d32;
  --mat-sys-inverse-on-surface: white;
}*/

.snackbar-success {
  --mat-sys-inverse-surface: #0f172a !important;
  --mat-sys-inverse-on-surface: #10b981 !important;
  border-left: 5px solid #10b981;
}

/*.snackbar-error {
  --mat-sys-inverse-surface: #c62828;
  --mat-sys-inverse-on-surface: white;
}*/
.snackbar-error {
  --mat-sys-inverse-surface: #0f172a !important;
  --mat-sys-inverse-on-surface: #ef4444 !important;
  border-left: 5px solid #ef4444;
}

/*.snackbar-info {
  --mat-sys-inverse-surface: #0277bd;
  --mat-sys-inverse-on-surface: white;
}*/
.snackbar-info {
  --mat-sys-inverse-surface: #0f172a !important;
  --mat-sys-inverse-on-surface: #38bdf8 !important;
  border-left: 5px solid #38bdf8;
}

.snackbar-warning {
  --mat-sys-inverse-surface: #ef6c00;
  --mat-sys-inverse-on-surface: white;
}
