@import 'tailwindcss';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f5f1f1;
  /* font-size: 80%; */
  font-size: 14px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: rgb(16, 185, 129);
    border-radius: 4px;
}

/*.snackbar-success {
  --mat-sys-inverse-surface: #2e7d32;
  --mat-sys-inverse-on-surface: white;
}*/

.snackbar-success {
  --mat-sys-inverse-surface: #0f172a !important;
  --mat-sys-inverse-on-surface: #10b981 !important;
  border-left: 5px solid #10b981;
}

/*.snackbar-error {
  --mat-sys-inverse-surface: #c62828;
  --mat-sys-inverse-on-surface: white;
}*/
.snackbar-error {
  --mat-sys-inverse-surface: #0f172a !important;
  --mat-sys-inverse-on-surface: #ef4444 !important;
  border-left: 5px solid #ef4444;
}

/*.snackbar-info {
  --mat-sys-inverse-surface: #0277bd;
  --mat-sys-inverse-on-surface: white;
}*/
.snackbar-info {
  --mat-sys-inverse-surface: #0f172a !important;
  --mat-sys-inverse-on-surface: #38bdf8 !important;
  border-left: 5px solid #38bdf8;
}

.snackbar-warning {
  --mat-sys-inverse-surface: #ef6c00;
  --mat-sys-inverse-on-surface: white;
}




.input-primary {
  @apply w-full mt-1 px-4 py-2 rounded-xl transition;
  background: var(--bg-surface-soft);
  border: 1px solid var(--border-default);
  color: var(--text-primary);
}

.input-primary:focus {
  outline: none;
  border-color: var(--brand-primary);
  box-shadow: 0 0 0 2px var(--state-focus);
}

/*:root {
  --marcorp-primary: #10b981;
  --marcorp-bg-main: #0f1615;
  --marcorp-bg-soft: #141c1b;

  --marcorp-text-main: #e5f5f1;
  --marcorp-text-muted: #8fa3a0;

  --marcorp-border: rgba(255, 255, 255, 0.12);
}*/

/* COLORES GENERALES */
/*$marcorp-primary: #13C28B;
$marcorp-dark: #0b0f0e;
$marcorp-light: #e5f7f2;

$citas-accent: #3fcaf7;
$escolar-accent: #facc15;
$inventarios-accent: #fb923c; */


